In [7]:
import pandas as pd
import statsmodels.api as sm

In [11]:
df = pd.read_excel("C:\\Users\\Gabriel\\Desktop\\Jupyter mapeamento\\serietemporal.xlsx")

In [12]:
print(df)

                                               Cultura     Mês  / Ano  \
0                                     Castanha de Caju  setembro 2006
1                                     Castanha de Caju   outubro 2006
2                                     Castanha de Caju  novembro 2006
3                                     Castanha de Caju  dezembro 2006
4                                     Castanha de Caju   janeiro 2007
..                                                 ...            ...
213                                   Castanha de Caju     junho 2024
214                                   Castanha de Caju     julho 2024
215                                   Castanha de Caju    agosto 2024
216                                                NaN            NaN
217  Fonte: IBGE - Levantamento Sistemático da Prod...            NaN

     Produção (t)  Unnamed: 3  Unnamed: 4 Unnamed: 5
0        254925.0         NaN         NaN        NaN
1        256149.0         NaN         NaN
2        237371.0         NaN         NaN        NaN
3        236140.0         NaN         NaN        NaN
4        253623.0         NaN         NaN        NaN
..            ...         ...         ...        ...
213      132744.0         NaN         NaN        NaN
214      144674.0         NaN         NaN        NaN
215      150576.0         NaN         NaN        NaN
216           NaN         NaN         NaN        NaN
217           NaN         NaN         NaN        NaN

[218 rows x 6 columns]

In [13]:
modelo = sm.tsa.ARIMA(df ["Produção (t)"], order=(1,1,1))

In [16]:
resultado = modelo.fit()