In [1]:
import pandas as pd
df = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\BAHIA.xlsx", sheet_name="Área colhida (Hectares)")
display(df)

,Município,Abacate,Abacaxi*,Açaí,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),Aveia (em grão),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Abaíra (BA),-,-,-,-,-,-,-,14,-,...,-,-,-,-,-,-,-,-,-,-
1,Abaré (BA),-,-,-,-,-,-,-,-,-,...,-,-,-,-,7,-,-,-,-,-
2,Acajutiba (BA),-,-,-,-,-,-,55,-,-,...,-,-,-,-,-,-,-,-,-,-
3,Adustina (BA),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,Água Fria (BA),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,Vitória da Conquista (BA),-,2,-,-,-,-,-,-,-,...,-,-,-,11,-,-,-,-,11,-
413,Wagner (BA),-,1,-,-,-,-,-,-,-,...,-,-,-,-,7,-,-,-,-,-
414,Wanderley (BA),-,-,-,-,1300,-,-,-,-,...,-,-,2016,-,-,-,-,-,-,-
415,Wenceslau Guimarães (BA),-,11,-,-,-,-,-,-,-,...,-,-,-,1,-,-,-,-,9,-
416,Xique-Xique (BA),-,-,-,-,-,-,-,-,-,...,-,-,22,-,1,-,-,-,-,-

In [2]:
new_df = []
for culture in df.columns[1:]:
    for index, row in df.iterrows():
        value = row[culture]
        if value != '-':
            new_df.append({
                'Cidade': row['Município'],
                'Área colhida (Hectares)': value,  
                'Nome': culture
            })
newdf = pd.DataFrame(new_df)
display(newdf)

                    Cidade Área colhida (Hectares)     Nome
0             Aiquara (BA)                       2  Abacate
1            Amargosa (BA)                       9  Abacate
2       Aurelino Leal (BA)                       1  Abacate
3     Barra da Estiva (BA)                      40  Abacate
4      Barra do Choça (BA)                      20  Abacate
...                    ...                     ...      ...
4115           Mucugê (BA)                      32      Uva
4116     Paulo Afonso (BA)                       1      Uva
4117  Santa Terezinha (BA)                       1      Uva
4118         Sento Sé (BA)                       5      Uva
4119       Sobradinho (BA)                       5      Uva

[4120 rows x 3 columns]

In [8]:
df2 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\BAHIA.xlsx", sheet_name="Quantidade produzida (Tonela...")
display(df2)

,Município,Abacate,Abacaxi*,Açaí,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),Aveia (em grão),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Abaíra (BA),-,-,-,-,-,-,-,9,-,...,-,-,-,-,-,-,-,-,-,-
1,Abaré (BA),-,-,-,-,-,-,-,-,-,...,-,-,-,-,155,-,-,-,-,-
2,Acajutiba (BA),-,-,-,-,-,-,73,-,-,...,-,-,-,-,-,-,-,-,-,-
3,Adustina (BA),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,Água Fria (BA),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,Vitória da Conquista (BA),-,16,-,-,-,-,-,-,-,...,-,-,-,108,-,-,-,-,7,-
413,Wagner (BA),-,8,-,-,-,-,-,-,-,...,-,-,-,-,187,-,-,-,-,-
414,Wanderley (BA),-,-,-,-,4641,-,-,-,-,...,-,-,2097,-,-,-,-,-,-,-
415,Wenceslau Guimarães (BA),-,206,-,-,-,-,-,-,-,...,-,-,-,7,-,-,-,-,11,-
416,Xique-Xique (BA),-,-,-,-,-,-,-,-,-,...,-,-,16,-,7,-,-,-,-,-

In [10]:
new_df2 = []
for culture in df2.columns[1:]:
    for index, row in df2.iterrows():
        value = row[culture]
        if value != '-':
            new_df2.append({
                'Cidade': row['Município'],
                'Produção (toneladas)': value,  
                'Nome': culture
            })
newdf2 = pd.DataFrame(new_df2)
display(newdf2)

                    Cidade Produção (toneladas)     Nome
0             Aiquara (BA)                    5  Abacate
1            Amargosa (BA)                   29  Abacate
2       Aurelino Leal (BA)                   10  Abacate
3     Barra da Estiva (BA)                  800  Abacate
4      Barra do Choça (BA)                  131  Abacate
...                    ...                  ...      ...
4115           Mucugê (BA)                   55      Uva
4116     Paulo Afonso (BA)                   19      Uva
4117  Santa Terezinha (BA)                   14      Uva
4118         Sento Sé (BA)                  130      Uva
4119       Sobradinho (BA)                  117      Uva

[4120 rows x 3 columns]

In [12]:
with pd.ExcelWriter("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados\\ resultados BAHIA.xlsx", engine='openpyxl') as writer:
    newdf.to_excel(writer, sheet_name='Área Colhida (hectares)', index=False)
    newdf2.to_excel(writer, sheet_name='Produção (toneladas)', index=False)