In [1]:
import pandas as pd
df = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\Maranhão.xlsx", sheet_name="Área colhida (Hectares)")
display(df)

,Município,Abacate,Abacaxi*,Açaí,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),Aveia (em grão),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Açailândia (MA),-,4,-,-,-,-,5,101,-,...,-,67114,-,-,14,-,-,-,-,-
1,Afonso Cunha (MA),-,-,-,-,-,-,-,190,-,...,-,10100,-,-,-,-,-,-,-,-
2,Água Doce do Maranhão (MA),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,Alcântara (MA),-,-,-,-,-,-,-,109,-,...,-,-,-,-,-,-,-,-,-,-
4,Aldeias Altas (MA),-,-,-,-,-,-,-,950,-,...,-,650,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Viana (MA),-,-,40,-,-,-,-,920,-,...,-,-,-,-,-,-,-,-,-,-
213,Vila Nova dos Martírios (MA),-,-,5,-,-,-,6,112,-,...,-,3341,-,-,-,-,-,-,-,-
214,Vitória do Mearim (MA),-,-,-,-,-,-,-,1190,-,...,-,-,-,-,-,-,-,-,-,-
215,Vitorino Freire (MA),-,-,-,-,-,-,-,120,-,...,-,-,-,-,-,-,-,-,-,-
216,Zé Doca (MA),-,-,-,-,-,-,-,318,-,...,-,-,-,-,-,-,-,-,-,-

In [2]:
new_df = []
for culture in df.columns[1:]:
    for index, row in df.iterrows():
        value = row[culture]
        if value != '-':
            new_df.append({
                'Cidade': row['Município'],
                'Área colhida (Hectares)': value,  
                'Nome': culture
            })
newdf = pd.DataFrame(new_df)
display(newdf)

                             Cidade  Área colhida (Hectares)      Nome
0                   Açailândia (MA)                        4  Abacaxi*
1               Cândido Mendes (MA)                       12  Abacaxi*
2                      Colinas (MA)                        7  Abacaxi*
3                    Dom Pedro (MA)                        3  Abacaxi*
4                     Estreito (MA)                        2  Abacaxi*
...                             ...                      ...       ...
1619  São Domingos do Maranhão (MA)                        2    Tomate
1620       São João do Paraíso (MA)                        7    Tomate
1621         Senador La Rocque (MA)                        3    Tomate
1622                Sítio Novo (MA)                       49    Tomate
1623                    Tuntum (MA)                        3    Tomate

[1624 rows x 3 columns]

In [3]:
df2 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\Maranhão.xlsx", sheet_name="Quantidade produzida (Tonela...")
display(df2)

,Município,Abacate,Abacaxi*,Açaí,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),Aveia (em grão),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Açailândia (MA),-,56,-,-,-,-,8,181,-,...,-,245637,-,-,273,-,-,-,-,-
1,Afonso Cunha (MA),-,-,-,-,-,-,-,171,-,...,-,30805,-,-,-,-,-,-,-,-
2,Água Doce do Maranhão (MA),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,Alcântara (MA),-,-,-,-,-,-,-,108,-,...,-,-,-,-,-,-,-,-,-,-
4,Aldeias Altas (MA),-,-,-,-,-,-,-,855,-,...,-,1950,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Viana (MA),-,-,216,-,-,-,-,3060,-,...,-,-,-,-,-,-,-,-,-,-
213,Vila Nova dos Martírios (MA),-,-,21,-,-,-,7,184,-,...,-,11560,-,-,-,-,-,-,-,-
214,Vitória do Mearim (MA),-,-,-,-,-,-,-,4907,-,...,-,-,-,-,-,-,-,-,-,-
215,Vitorino Freire (MA),-,-,-,-,-,-,-,130,-,...,-,-,-,-,-,-,-,-,-,-
216,Zé Doca (MA),-,-,-,-,-,-,-,310,-,...,-,-,-,-,-,-,-,-,-,-

In [4]:
new_df2 = []
for culture in df2.columns[1:]:
    for index, row in df2.iterrows():
        value = row[culture]
        if value != '-':
            new_df2.append({
                'Cidade': row['Município'],
                'Produção (toneladas)': value,  
                'Nome': culture
            })
newdf2 = pd.DataFrame(new_df2)
display(newdf2)
newdf["Produção (toneladas)"] = newdf2['Produção (toneladas)']

                             Cidade  Produção (toneladas)      Nome
0                   Açailândia (MA)                    56  Abacaxi*
1               Cândido Mendes (MA)                   139  Abacaxi*
2                      Colinas (MA)                   152  Abacaxi*
3                    Dom Pedro (MA)                    68  Abacaxi*
4                     Estreito (MA)                    22  Abacaxi*
...                             ...                   ...       ...
1619  São Domingos do Maranhão (MA)                    49    Tomate
1620       São João do Paraíso (MA)                   135    Tomate
1621         Senador La Rocque (MA)                    56    Tomate
1622                Sítio Novo (MA)                  1045    Tomate
1623                    Tuntum (MA)                    48    Tomate

[1624 rows x 3 columns]

In [12]:
newdf.to_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados\\resultados MARANHÃO.xlsx", sheet_name="Planilha 1", index=False)