In [1]:
import pandas as pd
df = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\PARAÍBA.xlsx", sheet_name="Área colhida (Hectares)")
display(df)

,Município,Abacate,Abacaxi*,Açaí,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),Aveia (em grão),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Água Branca (PB),-,-,-,-,-,-,-,5,-,...,-,-,-,-,-,-,-,-,-,-
1,Aguiar (PB),-,-,-,-,-,-,-,14,-,...,-,-,-,-,-,-,-,-,-,-
2,Alagoa Grande (PB),-,-,-,-,5,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,Alagoa Nova (PB),10,-,-,-,-,-,-,-,-,...,-,-,-,635,-,-,-,-,2,-
4,Alagoinha (PB),-,25,-,-,4,-,-,-,-,...,-,-,-,-,-,-,-,-,35,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Uiraúna (PB),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
219,Umbuzeiro (PB),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
220,Várzea (PB),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
221,Vieirópolis (PB),-,-,-,-,1,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
222,Zabelê (PB),-,-,-,-,-,-,-,-,-,...,10,-,-,-,-,-,-,-,-,-

In [2]:
new_df = []
for culture in df.columns[1:]:
    for index, row in df.iterrows():
        value = row[culture]
        if value != '-':
            new_df.append({
                'Cidade': row['Município'],
                'Área colhida (Hectares)': value,  
                'Nome': culture
            })
newdf = pd.DataFrame(new_df)
display(newdf)

                  Cidade Área colhida (Hectares)              Nome
0       Alagoa Nova (PB)                      10           Abacate
1          Alhandra (PB)                       4           Abacate
2        Bananeiras (PB)                       4           Abacate
3         Borborema (PB)                       3           Abacate
4          Cabedelo (PB)                     ...           Abacate
...                  ...                     ...               ...
2026  Serra da Raiz (PB)                      15  Urucum (semente)
2027       Serraria (PB)                      30  Urucum (semente)
2028    Sertãozinho (PB)                       4  Urucum (semente)
2029       Cabedelo (PB)                     ...               Uva
2030         Natuba (PB)                     110               Uva

[2031 rows x 3 columns]

In [3]:
df2 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\PARAÍBA.xlsx", sheet_name="Quantidade produzida (Tonela...")
display(df2)

,Município,Abacate,Abacaxi*,Açaí,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),Aveia (em grão),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Água Branca (PB),-,-,-,-,-,-,-,1,-,...,-,-,-,-,-,-,-,-,-,-
1,Aguiar (PB),-,-,-,-,-,-,-,13,-,...,-,-,-,-,-,-,-,-,-,-
2,Alagoa Grande (PB),-,-,-,-,7,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,Alagoa Nova (PB),70,-,-,-,-,-,-,-,-,...,-,-,-,6350,-,-,-,-,2,-
4,Alagoinha (PB),-,625,-,-,6,-,-,-,-,...,-,-,-,-,-,-,-,-,35,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Uiraúna (PB),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
219,Umbuzeiro (PB),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
220,Várzea (PB),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
221,Vieirópolis (PB),-,-,-,-,2,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
222,Zabelê (PB),-,-,-,-,-,-,-,-,-,...,8,-,-,-,-,-,-,-,-,-

In [4]:
new_df2 = []
for culture in df2.columns[1:]:
    for index, row in df2.iterrows():
        value = row[culture]
        if value != '-':
            new_df2.append({
                'Cidade': row['Município'],
                'Produção (toneladas)': value,  
                'Nome': culture
            })
newdf2 = pd.DataFrame(new_df2)
display(newdf2)
newdf["Produção (toneladas)"] = newdf2['Produção (toneladas)']

                  Cidade Produção (toneladas)              Nome
0       Alagoa Nova (PB)                   70           Abacate
1          Alhandra (PB)                   28           Abacate
2        Bananeiras (PB)                   28           Abacate
3         Borborema (PB)                   21           Abacate
4          Cabedelo (PB)                  ...           Abacate
...                  ...                  ...               ...
2026  Serra da Raiz (PB)                   12  Urucum (semente)
2027       Serraria (PB)                   27  Urucum (semente)
2028    Sertãozinho (PB)                    4  Urucum (semente)
2029       Cabedelo (PB)                  ...               Uva
2030         Natuba (PB)                 2200               Uva

[2031 rows x 3 columns]

In [7]:
newdf.to_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados 2022\\resultados PARAÍBA.xlsx", sheet_name="Planilha 1", index=False)