In [1]:
import pandas as pd
df = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\CEARÁ.xlsx", sheet_name="Área colhida (Hectares)")
display(df)

,Município,Abacate,Abacaxi*,Açaí,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),Aveia (em grão),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Abaiara (CE),-,-,-,-,35,-,15,3,-,...,-,-,-,-,2,-,-,-,-,-
1,Acarape (CE),-,-,-,-,-,-,-,10,-,...,-,-,-,-,-,-,-,-,-,-
2,Acaraú (CE),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,Acopiara (CE),-,-,-,-,12,-,-,16,-,...,-,-,-,-,-,-,-,-,-,-
4,Aiuaba (CE),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Uruburetama (CE),9,-,-,-,-,-,-,120,-,...,-,-,-,-,-,-,-,-,-,-
180,Uruoca (CE),-,-,-,-,-,-,-,117,-,...,-,-,-,-,-,-,-,-,-,-
181,Varjota (CE),-,-,-,-,-,-,-,5,-,...,-,-,-,1,2,-,-,-,4,-
182,Várzea Alegre (CE),-,-,-,-,-,-,12,90,-,...,-,-,-,-,12,-,-,-,-,-
183,Viçosa do Ceará (CE),110,-,-,-,-,-,150,700,-,...,-,-,-,122,32,-,-,-,10,-

In [2]:
new_df = []
for culture in df.columns[1:]:
    for index, row in df.iterrows():
        value = row[culture]
        if value != '-':
            new_df.append({
                'Cidade': row['Município'],
                'Área colhida (Hectares)': value,  
                'Nome': culture
            })
newdf = pd.DataFrame(new_df)
display(newdf)

                Cidade  Área colhida (Hectares)     Nome
0        Baturité (CE)                        1  Abacate
1     Brejo Santo (CE)                        2  Abacate
2       Carnaubal (CE)                       20  Abacate
3           Crato (CE)                        2  Abacate
4          Croatá (CE)                       10  Abacate
...                ...                      ...      ...
2229     Barbalha (CE)                       11      Uva
2230        Barro (CE)                        2      Uva
2231   Jaguaruana (CE)                        6      Uva
2232      Mauriti (CE)                        2      Uva
2233       Russas (CE)                        2      Uva

[2234 rows x 3 columns]

In [3]:
df2 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\CEARÁ.xlsx", sheet_name="Quantidade produzida (Tonela...")
display(df2)

,Município,Abacate,Abacaxi*,Açaí,Algodão arbóreo (em caroço),Algodão herbáceo (em caroço),Alho,Amendoim (em casca),Arroz (em casca),Aveia (em grão),...,Sisal ou agave (fibra),Soja (em grão),Sorgo (em grão),Tangerina,Tomate,Trigo (em grão),Triticale (em grão),Tungue (fruto seco),Urucum (semente),Uva
0,Abaiara (CE),-,-,-,-,116,-,16,7,-,...,-,-,-,-,134,-,-,-,-,-
1,Acarape (CE),-,-,-,-,-,-,-,19,-,...,-,-,-,-,-,-,-,-,-,-
2,Acaraú (CE),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,Acopiara (CE),-,-,-,-,18,-,-,58,-,...,-,-,-,-,-,-,-,-,-,-
4,Aiuaba (CE),-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Uruburetama (CE),108,-,-,-,-,-,-,29,-,...,-,-,-,-,-,-,-,-,-,-
180,Uruoca (CE),-,-,-,-,-,-,-,82,-,...,-,-,-,-,-,-,-,-,-,-
181,Varjota (CE),-,-,-,-,-,-,-,6,-,...,-,-,-,5,140,-,-,-,4,-
182,Várzea Alegre (CE),-,-,-,-,-,-,8,179,-,...,-,-,-,-,780,-,-,-,-,-
183,Viçosa do Ceará (CE),2058,-,-,-,-,-,119,672,-,...,-,-,-,1464,2613,-,-,-,10,-

In [8]:
new_df2 = []
for culture in df2.columns[1:]:
    for index, row in df2.iterrows():
        value = row[culture]
        if value != '-':
            new_df2.append({
                'Cidade': row['Município'],
                'Produção (toneladas)': value,  
                'Nome': culture
            })
newdf2 = pd.DataFrame(new_df2)
display(newdf2)
newdf["Produção (toneladas)"] = newdf2['Produção (toneladas)']

                Cidade  Produção (toneladas)     Nome
0        Baturité (CE)                     7  Abacate
1     Brejo Santo (CE)                    23  Abacate
2       Carnaubal (CE)                   200  Abacate
3           Crato (CE)                    20  Abacate
4          Croatá (CE)                    93  Abacate
...                ...                   ...      ...
2229     Barbalha (CE)                   334      Uva
2230        Barro (CE)                    43      Uva
2231   Jaguaruana (CE)                   103      Uva
2232      Mauriti (CE)                    63      Uva
2233       Russas (CE)                    40      Uva

[2234 rows x 3 columns]

In [16]:
newdf.to_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\Reresultados CEARÁ.xlsx", sheet_name="Planilha 1", index=False)