In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Nordeste população.xlsx")
df

                        Município  População (hab)
0                Água Branca (AL)            19008
1                     Anadia (AL)            13966
2                  Arapiraca (AL)           234696
3                    Atalaia (AL)            37512
4     Barra de Santo Antônio (AL)            16365
...                           ...              ...
1789                  Siriri (SE)             7834
1790                   Telha (SE)             3274
1791          Tobias Barreto (SE)            50905
1792           Tomar do Geru (SE)            12012
1793                 Umbaúba (SE)            23917

[1794 rows x 2 columns]

In [3]:
df["População (hab)"] = df["População (hab)"] * 0.40

In [4]:
data_source = {"produção biosolidos":25.6, "CF":1, "rendimento biochar": 0.552}

In [5]:
df["Resíduo Solido (t)"]= (df["População (hab)"] * data_source["produção biosolidos"] * data_source["CF"]) / 1000

In [ ]:

desvio_padrao_rendimento = data_source["rendimento biochar"] * 0.05  

def monte_carlo_simulation(residuo_biomassa, n_iter = 10000):
    resultados = []
    for _ in range(n_iter):
     
        rendimento_conversao = np.random.normal(data_source["rendimento biochar"], desvio_padrao_rendimento)
        quantidade_biochar = residuo_biomassa * rendimento_conversao
        resultados.append(quantidade_biochar)
    
   
    return np.mean(resultados)

def calcular_biochar_para_coluna(df, nome_coluna):
    return df[nome_coluna].apply(monte_carlo_simulation)

df["Biochar Solidos Urbanos (t)"] = calcular_biochar_para_coluna(df, "Resíduo Solido (t)")

In [8]:
df.to_excel('resultados.xlsx', index=False)