ESSE CÓDIGO TEM A FUNÇÃO DE CONCATEAR TODOS DATAFRAMES GERADOS ANTERIORMENTE ( 9 ESTADOS DO NORDESTE)

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados 2022\\resultados ALAGOAS.xlsx")
df2 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados 2022\\ resultados BAHIA.xlsx")
df3 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados 2022\\resultados CEARÁ.xlsx")
df4 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados 2022\\resultados MARANHÃO.xlsx")
df5 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados 2022\\resultados PARAÍBA.xlsx")
df6 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados 2022\\resultados PERNAMBUCO.xlsx")
df7 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados 2022\\resultados PIAUÍ.xlsx")
df8 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados 2022\\resultados RIO GRANDE DO NORTE.xlsx")
df9 = pd.read_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados 2022\\resultados SERGIPE.xlsx")

In [3]:
DFS = [ df1, df2, df3, df4, df5, df6, df7, df8, df9]

In [4]:
df_concatenado = pd.concat(DFS, ignore_index=True, sort=False)

In [ ]:
df_concatenado.to_excel("C:\\Users\\Aluno\\Documents\\Gabriel\\PRH 55.1\\Mapeamento - Banco de dados\\resultados 2022\\tabela de resíduos.xlsx")

In [6]:
display(df_concatenado)

,Cidade,Área colhida (Hectares),Produção (toneladas),Nome
0,Água Branca (AL),2,21,Abacate
1,Anadia (AL),10,80,Abacate
2,Boca da Mata (AL),5,48,Abacate
3,Campo Alegre (AL),5,56,Abacate
4,Chã Preta (AL),2,20,Abacate
...,...,...,...,...
16238,Pedrinhas (SE),8,104,Tangerina
16239,Umbaúba (SE),90,1350,Tangerina
16240,Lagarto (SE),100,3600,Tomate
16241,Ribeirópolis (SE),60,1560,Tomate
16242,Simão Dias (SE),100,3500,Tomate